
* {
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}


#about {
    background-color: #f4f4f4;
}


#projects {
    background-color: #eaeaea;
}

.project {
    margin-bottom: 20px;
}

.project-1 img {
    max-width: 40%; 
    height: auto; 
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project-2 img {
    max-width: 20%; 
    height: auto; 
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



#contact {
    background-color: #f4f4f4;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #555;
}



.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-image  {
    max-width: 30%;
    border-radius: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-text {
    text-align: center;
}


.social-icons {
    text-align: center;
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: translateY(-5px);
}

.social-icons img {
    width: 60px;
    height: auto;
}

